.container {
  color: #606c76;
  padding: 0.2rem 2rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: normal;
  font-size: 3rem;
}

input {
  width: 30vw;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-top: 2rem;
  border: 1px solid #d3d3d3;
  outline: none;
}

.task {
  padding-top: 0.5rem;
}

button {
  background-color: #9a4ec6;
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 11rem;
  outline: none;
}
